<div ng-controller="transmision" >

    <h1>Emisión en directo de las reuniones</h1>

  <div class="alert alert-warning" role="alert" ng-show="sinEmision"><strong>No hay una emisión programada para hoy.</strong></div>
      
      <div class="panel-group" ng-show="accordionEmision" role="tablist" aria-multiselectable="false" > 
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
                 <strong>1:</strong> Pautas
     
      </h4>
    </div>
    <div id="collapseOne" role="tabpanel" ng-class="pnlEula" aria-labelledby="headingOne">
      <div class="panel-body">
          Por favor, tenga en cuenta lo siguiente:
            <ul>
                <li><strong>Solicite la contraseña al hermano encargado</strong> de la emisión. Por favor, <strong>no la pida a otros hermanos.</strong></li>
                <li><strong>No divulgue la contraseña que le fue provista.</strong> Si un hermano se la solicita, diríjalo al hermano encargado de la emisión.</li>
                <li><strong>Informe cuántos están viendo el programa</strong> desde su conexión para contarlos en la asistencia.</li> 
            </ul>

         <button type="button" class="btn btn-primary" aria-expanded="false" data-ng-click="okEula()">De acuerdo, respetaré estas pautas.</button>
<button type="button" class="btn btn-default">Cancelar</button>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
           <strong>2:</strong> Datos y clave de acceso
   
      </h4>
    </div>
    <div id="collapseTwo" role="tabpanel"  ng-class="pnlAsistencia" aria-labelledby="headingTwo">
      <div class="panel-body"> 
        
        <div class="form-horizontal">
        
          <div class="form-group">
    <label for="nombre" class="col-sm-2 control-label">Nombre</label>
            <div class="col-sm-4">
    <input type="text" class="form-control" id="publicador" placeholder="Publicador o familia" ng-model="asistencia.nombre">
            </div>
  </div>
          
      <div class="form-group">
          <label for="asistencia" class="col-sm-2 control-label">Asistencia</label>
         
        <div class="col-sm-4">
<div class="btn-group" data-toggle="buttons">
<label class="btn btn-default" ng-click="asistencia.espectadores = '1'">
    <input type="radio" ng-value="1" ng-model="asistencia.espectadores"> 1
  </label>
  <label class="btn btn-default" ng-click="asistencia.espectadores = '2'">

    <input type="radio" ng-value="2" ng-model="asistencia.espectadores"> 2
  </label>
  <label class="btn btn-default" ng-click="asistencia.espectadores = '3'">
    <input type="radio" ng-value="3" ng-model="asistencia.espectadores"> 3
  </label>
  <label class="btn btn-default" ng-click="asistencia.espectadores = '4'">
    <input type="radio" ng-value="4" ng-model="asistencia.espectadores"> 4
  </label>
  <label class="btn btn-default" ng-click="asistencia.espectadores = '5'">
    <input type="radio" ng-value="5" ng-model="asistencia.espectadores"> 5
  </label>
  <label class="btn btn-default" ng-click="asistencia.espectadores = '6'">
    <input type="radio" ng-value="6" ng-model="asistencia.espectadores"> 6
  </label>
  <label class="btn btn-default" ng-click="asistencia.espectadores = '7'">
    <input type="radio" ng-value="7" ng-model="asistencia.espectadores"> 7
  </label>
  <label class="btn btn-default" ng-click="asistencia.espectadores = '8'">
    <input type="radio" ng-value="8" ng-model="asistencia.espectadores"> 8  </label>
  
</div>
          <span id="helpBlock" class="help-block">Indique cuántos están viendo la emisión desde esta conexión</span>
        </div>
      </div>
          <div class="form-group">        
 
 <label for="recordar" class="col-sm-2 control-label"> </label> 
<div class="btn-group col-sm-4" data-toggle="buttons">
  
  <label class="btn btn-default active">
    <input type="checkbox" checked id="recordar"> Recordar mis datos
  </label>
          </div>
          </div>
          <div class="form-group">
    <label for="clave" class="col-sm-2 control-label">Clave</label>
            <div class="col-sm-10">
         
    <input type="number" class="form-control" id="clave" data-ng-model="transmision.clave" placeholder="1234" min="1000" max="9999" autocomplete="off">
              <span id="helpBlock" class="help-block">Ingrese la clave para ver la reunión de hoy</span>
            </div>
  </div>
          <div class="form-group">        
           <label for="iniciar" class="col-sm-2 control-label"></label>
          <div class="col-sm-4">
  <button class="btn btn-primary" id="iniciar" data-ng-click="getUrl()" >Ver la emisión</button>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
        
        
        
        
        
        
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
      
           <strong>3:</strong> Ver la emisión
     
      </h4>
    </div>
    <div id="collapseThree" ng-class="pnlVideo" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
             <div class="embed-responsive embed-responsive-16by9" style="z-index:5000"> 
      <iframe class="embed-responsive-item" ng-src="{{iframeVideo}}" frameborder="0" width="100%" height="100%" allowfullscreen id="videoIframe"></iframe>
    </div>

      </div>
    </div>
  </div>
</div>
      
      
      

   
   


    

  

    <div style="height:300px;"></div>
</div>
