<div ng-app="single-page-app" ng-controller="MapCtrl">
    <div id="map"></div>
    <div id="class" ng-repeat="marker in markers | orderBy : 'title'">
        <a href="#" ng-click="openInfoWindow($event, marker)">{{marker.title}}</a>
    </div>
</div>

<!--<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Fusion Tables layers</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #map {
            height: 100%;
        }
    </style>
</head>
<body>
    <div id="map"></div>
    <script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: -31.745740, lng: -60.489201},
          zoom: 15
        });

        var layermanzanas = new google.maps.FusionTablesLayer({
          query: {
            select: '\'location\'',
            from: '1pTZXlKgkn51RCRBQ4tbSEC4fMrBEg8sjyWBicoHF'
          }
        });

        var layerterritorios = new google.maps.FusionTablesLayer({
            query: {
                select: '\'location\'',
                from: '1cVMM0RmM9Es-JjIUMK0fsFMIvUastcPek-lTRgqh'
            },
            //styles: [{
            //    polygonOptions: {
            //        fillColor: '#00000000',
            //        fillOpacity: 0,
            //        strokeColor: "#rrggbb"
            //    }
            //}]
        });

        layermanzanas.setMap(map);
        layerterritorios.setMap(map);
      }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAug5i08rgbPlvb8kalliR3ZjDxFA75xVA&callback=initMap">
    </script>
</body>
</html>-->